@use "mixins" as mix;

html,
body {
  margin: 0;
}

h1 {
  display: flex;
  justify-content: center;
  background-color: palevioletred;
}

.inputContainerStyle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.todoContainerStyle {
  display: flex;
  justify-content: center;
}

.containerList {
  display: flex;
  flex-direction: row;
  background-color: pink;
  border: 5px solid palevioletred;
  justify-content: center;
  align-items: center;
}

.ulStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2px;

  @include mix.listStyle;

  .myListStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
}
