@use "mixins" as mix;

html,
body {
  margin: 0;
}

h1 {
}
.containerList {
  display: flex;
  flex-direction: row;
  background-color: pink;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
}

.ulStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2px;

  @include mix.listStyle;

  li {
    color: white;
  }
}

.checkboxesStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
