@use "mixins" as mix;

html,
body {
  margin: 0;
}

h1 {
  display: flex;
  justify-content: center;
  background-color: indianred;
}

.containerList {
  display: flex;
  flex-direction: row;
  background-color: pink;
  justify-content: center;
  align-items: center;
}

.ulStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2px;

  @include mix.listStyle;

  li {
    color: white;
    display: flex;
    justify-content: flex-end;

    input {
      justify-content: center;
    }
  }
}
